<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @testis.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @testis.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @testis.telefone %>
</p>

<%= link_to 'Edit', edit_testis_path(@testis) %> |
<%= link_to 'Back', testes_path %>
